* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-container {
  margin: auto;
}

#search-codes-container {
  margin: 0;
  height: 400px;
}

#rate-exchange-container {
  margin: 0;
  height: 400px;
}

#search-flights-container {
  margin: 0;
  height: 600px;
}

#searchFlights div div {
  margin-bottom: 15px;
}

#search-history {
  padding-top: 15px;
  border-top: dashed gray 1px;
}

#search-history button {
  width: 50%;
}

#clear-history-button {
  margin-top: 15px;
}

#codes-form, #quotes-form, #rates-form, #display-codes-container, #display-flights-container, #rate-exchange-display-container{
  height: 100%;
}

#codes-form, #quotes-form, #rates-form {
  width: 25%;
}

#display-codes-container, #display-flights-container, #rate-exchange-display-container {
  width: 75%;
}

#display-codes-container, #display-flights-container, #rate-exchange-display-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#codes-form, #quotes-form {
  border-bottom: solid black 1px;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    /*margin-top: ; */
}

#display-codes-container div p, #display-flights-container div p {
  padding: 10px 0 0 50px;
  font-size: 20px;
}

#display-codes-container div h3 {
  padding: 29.2px 11.25px 17.52px 50px;
  margin: 0;
  border-radius: 15px 15px 0 0 ;
}

#flight-header {
  padding: 29.2px 11.25px 17.52px 50px;
  margin: 0;
  border-radius: 15px 0 0 0 ;
}

#no-flight-header {
  padding: 29.2px 11.25px 17.52px 50px;
  margin: 0;
  border-radius: 15px 15px 0 0 ;
}

#flight-card-date {
  text-align: right;
  padding: 29.2px 50px 17.52px 0;
  margin: 0;
  border-radius: 0 15px 0 0;
}

#display-codes-container, #display-flights-container, #rate-exchange-display-container {
  padding: 0;
}

/* #display-codes-container div, #display-flights-container div, #rate-exchange-display-container div {
  padding-bottom: 20px;
} */

#display-codes-container div {
  height: 95%;
  width: 95%;
  border-radius: 15px;
  margin-left: 0;
  padding: 0;
}

#rate-exchange-display-container div {
  height: 50%;
  width: 95%;
  border-radius: 15px;
  margin-left: 0;
  padding: 0;
}

#display-flights-container div {
  border-radius: 15px;
  margin-left: 0;
  padding: 0;
  width: 95%;
  height: 30%;
}

#rate-exchange-display-container div h3 {
  text-align: center;
  padding: 29.2px 0 17.52px 0;
  margin: 0;
  border-radius: 15px 15px 0 0;
}

#rate-exchange-display-container div p {
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  /* main {
    flex: 1 0 auto;
  } */
  
  
  /* .page-footer{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;


  } */

  @media screen and (max-width: 1240px) {

    #search-flights-container {
      margin: 0;
      height: 900px;
    }

    #search-history button {
      width: 100%;
    }
  }

